<!-- component -->
<nav class=" w-full flex relative justify-between items-center mx-auto px-8 h-14 shadow ">
    <!-- logo -->
    <a class="text-2xl font-bold font-heading" href="/clients/dashboard">
        <img class="h-9" src="/img/logo.png" alt="logo">
    </a>
    <!-- end logo -->

    <a href="/clients/dashboard">Ir al dashboard</a>

    <!-- logout -->
    <div class="flex-initial"> 
      <div class="flex justify-end items-center relative">
        <div class="grid grid-cols-2">
            <div class="flex justify-center items-center">
                {{#if user}}
                    <p>{{user.name}}</p>
                {{/if}}
            </div>
            <div class="flex justify-end items-center">
                <a class="text-2xl font-bold font-heading" href="/signout">
                    <img class="h-8" src="/img/logout.png" alt="logo">
                </a>
            </div>
        </div>
      </div>
    </div>
    <!-- end logout -->
</nav>




<div class="flex items-center justify-center px-6 my-16">
	<!-- Row -->
	<div class="w-full xl:w-3/4 lg:w-11/12 flex">
		<!-- Col -->
		<div class="w-full h-auto bg-purple-500 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" >
			<div class="mb-3 m-4">
				<label class="block mb-6 p-2 text-sm  text-center text-white">
					id: {{client.id}}
				</label>
				
				<label class="block mb-3 p-2 text-2xl  text-center font-bold text-white">
					{{client.name}}
				</label>

				<div class="flex items-center justify-center">
					<img class="img-fluid lg:w-3/5 flex rounded-xl content-center" src="{{client.profilePic}}" >
				</div>
				
			</div>
		</div>
		<!-- Col -->
		<div class="w-full lg:w-7/12 bg-white p-1 rounded-lg lg:rounded-l-none">
			<h3 class="pt-4 text-2xl text-center">CONTACTANDO</h3>
			<form class="px-8 pt-3 pb-3 mb-3 bg-white rounded">
				

				<div class="mb-5">
					<label
					for="desc"
					class="mb-3 block text-base font-medium text-[#07074D]"
					>
					Descripcion
					</label>
					<textarea
					rows="5"
					name="desc"
					id="desc"
					placeholder="Escribir la descripcion"
					class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
					></textarea>
				</div>

				<button
					class="w-full px-4 py-2 mb-4 font-bold text-white bg-green-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
					type="submit"
				>
					Guardar
				</button>
				
				<a href="/clients/dashboard"> 
					<button
						class="w-full px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
						type="button"
					> Cancelar</button>		
				</a>

				
			</form>
		</div>
	</div>
</div>
