<div class="container p-4 my-5 whitebox">
    <div class="row text-center ">
        <div class="col mx-auto ">
            <div class="row ">
                <div class="col">
                    <h3 class="display-4">Welcome {{user.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>